@model IEnumerable<PhoneBook.DB.Models.Person>
@{
    ViewData["Title"] = "Главная";
}

<h2>Телефонная книга</h2>
<h4>
    <a asp-action="Create">Добавить контакт</a>
</h4>
<table class="table" border="2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@item.ID">@item.ID</a></td>
                <td>@item.FirstName</td>
                <td>@item.SecondName</td>
                <td>@item.LastName</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>